@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* MIXIN */
@mixin flex-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: $fuente-principal;
}

li {
    font-weight: bold;
}

h2 {
    text-decoration: double;
    color: $color-gris-texto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* RAMOS */
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    height: 89%;
    border: 2px solid $color-principal;
    border-radius: 15px;
    text-align: center;
}

.titulo {
    color: #b91f38;
    font-style: oblique;
}

/* NAVBAR */
.lista-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    margin: 0;
    list-style: none;
    margin-right: 10px;
    font-size: 20px;

    a {
        color: $blanco;
        text-decoration: none;
    }
}

/* HEADER */
header {
    background-color: $color-principal;
    @include flex-centrado;
    justify-content: space-between;

    nav {
        width: 35%;
    }

    img {
        animation: entrada-suave 1.5s ease-out forwards;
    }
}

/* FOOTER */
footer {
    background-color: $color-principal;
    color: aliceblue;
    @include flex-centrado;
    padding: 10px;
}

/* DESCRIPCIÓN */
.descripcion {
    background-color: $fondo-claro;
    padding: 40px 20px;
    text-align: center;
}

.beneficios {
    list-style: none;
    padding: 0;
    @include flex-centrado;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    li {
        background-color: $blanco;
        padding: 20px;
        border-radius: 10px;
        text-align: left;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-top: 5px solid;
        border-color: #ff4c60;
    }
}

.logo {
    background-repeat: no-repeat;
    width: 400px;
}

/* ORGANIGRAMA */
main {
    margin-top: 50px;
}

.organigrama {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
        border: 1px solid $color-secundario;
        gap: 0;
        grid-template-columns: unset;
    }
}

.org-card {
    background-color: $blanco;
    border: 1px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

h4 {
    color: $color-secundario;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px;
    padding-bottom: 5px;
    width: 100%;
}

summary {
    background-color: $color-secundario;
    color: $blanco;
    padding: 15px;
    font-weight: bold;
    list-style: none;
    outline: none;
    width: 100%;
    margin: 0;
}

.contenido-org {
    padding: 25px;
    color: gray;
    background-color: $blanco;
    border-top: 4px;
    text-align: left;
    line-height: 1.5;
    font-size: 15px;
}

/* INFO CONTABLE */
.tabla-contable {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: $blanco;
    text-align: center;

    th {
        background-color: $color-principal;
        color: $blanco;
        padding: 10px;
    }

    td {
        padding: 8px;
        border: 1px solid #ccc;
        color: black;
    }
}

/* ANIMACIONES */
@keyframes entrada-suave {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
    header {
        flex-direction: column !important;
        height: auto !important;
        padding: 20px 0;

        nav {
            width: 100% !important;
        }

        .lista-nav{
            flex-direction: column;
            align-items: center;
            gap: 15px;
            height: auto;
        }
    }
}
    @use "variables" as *;

    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

    /* MIXIN */
    @mixin flex-centrado {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        font-family: $fuente-principal;
    }

    li {
        font-weight: bold;
    }

    h2 {
        text-decoration: double;
        color: $color-gris-texto;
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    /* RAMOS */
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
        height: 89%;
        border: 2px solid $color-principal;
        border-radius: 15px;
        text-align: center;
    }

    .titulo {
        color: #b91f38;
        font-style: oblique;
    }

    /* NAVBAR */
    .lista-nav {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 100%;
        margin: 0;
        list-style: none;
        margin-right: 10px;
        font-size: 20px;

        a {
            color: $blanco;
            text-decoration: none;
        }
    }

    /* HEADER */
    header {
        background-color: $color-principal;
        @include flex-centrado;
        justify-content: space-between;

        nav {
            width: 35%;
        }

        img {
            animation: entrada-suave 1.5s ease-out forwards;
        }
    }

    /* FOOTER */
    footer {
        background-color: $color-principal;
        color: aliceblue;
        @include flex-centrado;
        padding: 10px;
    }

    /* DESCRIPCIÓN */
    .descripcion {
        background-color: $fondo-claro;
        padding: 40px 20px;
        text-align: center;
    }

    .beneficios {
        list-style: none;
        padding: 0;
        @include flex-centrado;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        li {
            background-color: $blanco;
            padding: 20px;
            border-radius: 10px;
            text-align: left;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-top: 5px solid;
            border-color: #ff4c60;
        }
    }

    .logo {
        background-repeat: no-repeat;
        width: 400px;
    }

    /* ORGANIGRAMA */
    main {
        margin-top: 50px;
    }

    .organigrama {
        max-width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 0;
            border: 1px solid $color-secundario;
            gap: 0;
            grid-template-columns: unset;
        }
    }

    .org-card {
        background-color: $blanco;
        border: 1px;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: left;
    }

    h4 {
        color: $color-secundario;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        border-bottom: 1px;
        padding-bottom: 5px;
        width: 100%;
    }

    summary {
        background-color: $color-secundario;
        color: $blanco;
        padding: 15px;
        font-weight: bold;
        list-style: none;
        outline: none;
        width: 100%;
        margin: 0;
    }

    .contenido-org {
        padding: 25px;
        color: gray;
        background-color: $blanco;
        border-top: 4px;
        text-align: left;
        line-height: 1.5;
        font-size: 15px;
    }

    /* INFO CONTABLE */
    .tabla-contable {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
        background-color: $blanco;
        text-align: center;

        th {
            background-color: $color-principal;
            color: $blanco;
            padding: 10px;
        }

        td {
            padding: 8px;
            border: 1px solid #ccc;
            color: black;
        }
    }

    /* ANIMACIONES */
    @keyframes entrada-suave {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }